/* if you have it installed via NPM & a CSS loader configured */
@import "@catppuccin/palette/style";
/* alternatively via unpkg.com */
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@import url('https://github.com/crowley42/OMORI_GAME/blob/main/OMORI_GAME.ttf');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



.cat{
  color:        var(--ctp-mocha-text);
  background:   rgba(var(--ctp-macchiato-base-rgb) / 0.9);
  border-color: hsla(var(--ctp-frappe-red-hsl) / 0.75);
}



h1{
font-size:64px;
font-family:'Share Tech';
}
